<!DOCTYPE html>
<html>
<head>

    <title> title </title>
    <link rel='stylesheet' href="stylesheets/semantic.min.css" />
    <link rel='stylesheet' href='stylesheets/style.css' />

    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/vue.js"></script>
    <script src="javascripts/axios.js"></script>
    <script src="javascripts/semantic.min.js"></script>

</head>
<body>


<h1> passenger-login </h1>
<p>Welcome to passenger-login</p>

<div id = "login">
    <div class = "ui input">
        <input type="text" v-model = "companyname">
        <input type="password" v-model = "password">
    </div>

    <button class="ui blue button" v-on:click = "login">
        login
    </button>

</div>

<script>
    let vmlogin = new Vue({
        self: this,
        el: '#login',
        data:{
            companyname: '',
            password: '',
            status: ''
        },
        created() {
        },
        methods: {
            login() {
                let self = this;
                if (self.companyname && self.password) {
                    axios.post('/company-login', {
                        companyname: self.companyname,
                        password: self.password
                    }).then(function (response) {
                        if (response.data.code === 200) {
                            console.log(response);
                            sessionStorage.setItem('company', self.companyname);
                            window.location.href = '/insert-airline';
                        } else {
                            self.status = '用户名或密码错误，请重新输入！';
                            alert(self.status);
                        }
                    }).catch(function (error){
                        console.log(error);
                    });

                }
            }
        }
    })
</script>

</body>
</html>

