<!DOCTYPE html>
<html>
<head>

    <title> order </title>
    <link rel='stylesheet' href="stylesheets/semantic.min.css"/>
    <link rel='stylesheet' href='stylesheets/style.css'/>

    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/vue.js"></script>
    <script src="javascripts/axios.js"></script>
    <script src="javascripts/semantic.min.js"></script>


    <!--    <script src="luxon.js"></script>-->
    <!--    <script src="weekstart.js"></script>-->
    <!--    <script src="vue-datetime.js"></script>-->

</head>
<body>
<div id="app">
    <h1> passenger-order </h1>
    <p>Welcome to order</p>
    <td>
        <button class="ui teal basic button" v-on:click="show()">show order</button>
    </td>

    <table class="ui teal table">
        <thead>
        <tr>
            <th>airline</th>
            <th>departure</th>
            <th>arrival</th>
            <th>day</th>
            <th>seat</th>
<!--            <th></th>-->
        </tr>
        </thead>
        <tbody>

        <tr v-for="x in list">
            <td>{{ x.airline }}</td>
            <td>{{ x.departure }}</td>
            <td>{{ x.arrival }}</td>
            <td>{{ x.day }}</td>
            <td>{{ x.seat }}</td>
<!--            <td>-->
<!--                <button class="ui teal basic button" v-on:click="clickBuy(x)">Buy</button>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
    <!--    <div class="ui visible message">-->
    <!--        <p v-text="status" ></p>-->
    <!--    </div>-->

</div>
<script>

    let vm = new Vue({
        el: '#app',
        data: {
            username: '',
            status: '',
            list: []
        },
        created() {


        },
        methods: {
            show() {
                let self = this;
                if (!sessionStorage.getItem("passenger")) {
                    alert("请先登录");
                    window.location.href = '/passenger-login-register';
                } else {
                    self.username = sessionStorage.getItem("passenger");
                    axios.post('/order', {
                        username: self.username
                    }).then(function (response) {
                        console.log(self.username);
                        if (response.data.length === 0) {
                            self.status = '没查找到orz';
                            alert(self.status);
                        } else {
                            self.list = response.data;
                        }
                    });
                }
            }
        }
    });


</script>

</body>
</html>

