<!DOCTYPE html>
<html>
<head>

    <title> order </title>
    <link rel='stylesheet' href="stylesheets/semantic.min.css"/>
    <link rel='stylesheet' href='stylesheets/style.css'/>

    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/vue.js"></script>
    <script src="javascripts/axios.js"></script>
    <script src="javascripts/semantic.min.js"></script>


    <!--    <script src="luxon.js"></script>-->
    <!--    <script src="weekstart.js"></script>-->
    <!--    <script src="vue-datetime.js"></script>-->

</head>
<body>
<div class="ui segment">
    <h1 class="ui center aligned header">
        PASSENGER ORDER LIST
    </h1>
</div>

<div id="app">
    <div class="ui fluid five item menu">
        <a class="item" href="/passenger-login">
            passenger-login
        </a>
        <a class="item" href="/passenger-register">
            passenger-register
        </a>
        <a class="item" href="/search">
            search
        </a>
        <a class="item" href="/order">
            orders
        </a>
        <a class="item" href="/company-login">
            company
        </a>
<!--        <div class="text" v-model = "userstatus">-->

<!--        </div>-->
    </div>

    <td>
        <button class="ui teal basic button" v-on:click="show()">show order</button>
    </td>

    <table class="ui teal table">
        <thead>
        <tr>
            <th>airline</th>
            <th>departure city</th>
            <th>arrival city</th>
            <th>day</th>
            <th>seat</th>
<!--            <th></th>-->
        </tr>
        </thead>
        <tbody>

        <tr v-for="x in list">
            <td>{{ x.airline }}</td>
            <td>{{ x.departure }}</td>
            <td>{{ x.arrival }}</td>
            <td>{{ x.day.substr(0, 10) }}</td>
            <td>{{ x.seat }}</td>
<!--            <td>-->
<!--                <button class="ui teal basic button" v-on:click="clickBuy(x)">Buy</button>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
    <!--    <div class="ui visible message">-->
    <!--        <p v-text="status" ></p>-->
    <!--    </div>-->

</div>
<script>

    let vm = new Vue({
        el: '#app',
        data: {
            username: '',
            status: '',
            userstatus: '',
            list: []
        },
        created() {
            if (sessionStorage.getItem("company")) {
                self.userstatus = 'company:' + sessionStorage.getItem("company");
            } else if (sessionStorage.getItem("passenger")) {
                self.userstatus = 'passenger:' + sessionStorage.getItem("passenger");
            } else {

                self.userstatus = "un-login";
            }

        },
        methods: {
            show() {
                let self = this;
                if (!sessionStorage.getItem("passenger")) {
                    alert("请先登录");
                    window.location.href = '/passenger-login';
                } else {
                    self.username = sessionStorage.getItem("passenger");
                    axios.post('/order', {
                        username: self.username
                    }).then(function (response) {
                        console.log(self.username);
                        if (response.data.length === 0) {
                            self.status = '没查找到orz';
                            alert(self.status);
                        } else {
                            self.list = response.data;
                        }
                    });
                }
            }
        }
    });


</script>

</body>
</html>

