<!DOCTYPE html>
<html>
<head>

    <title> title </title>
    <link rel='stylesheet' href="stylesheets/semantic.min.css" />
    <link rel='stylesheet' href='stylesheets/style.css' />

    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/vue.js"></script>
    <script src="javascripts/axios.js"></script>
    <script src="javascripts/semantic.min.js"></script>


</head>
<body>




    <h1> passenger-login </h1>
    <p>Welcome to passenger-login</p>

    <div id = "login">
    <div class = "ui input">
        <input type="text" v-model = "username">
        <input type="password" v-model = "password">
    </div>

    <button class="ui teal button" v-on:click = "login">
        login
    </button>

    </div>

    <div id = "register">

    <div class = "ui input">
        <input type="text" v-model = "username">
        <input type="password" v-model = "password">
        <input type="password" v-model = "repeat_password">
    </div>

    <button class="ui teal button" v-on:click = "register">
        register
    </button>

    </div>

<script>
    let vmlogin = new Vue({
        self: this,
        el: '#login',
        data:{
            username: '',
            password: '',
            status: ''
        },
        created() {
        },
        methods: {
            login() {
                let self = this;
                if (self.username && self.password) {
                    axios.post('/passenger-login-register/userLogin', {
                        username: self.username,
                        password: self.password
                    }).then(function (response) {
                        console.log(response);
                        if (response.code === 200) {
                            sessionStorage.setItem('flag', username);
                            window.location.href = '/search';
                        } else {
                            self.status = '用户名或密码错误，请重新输入！';
                        }
                    }).catch(function (error){
                        console.log(error);
                    });

                }
            }
        }
    })
</script>

<script>
    let vmregister = new Vue({
        el: '#register',
        data:{
            username: '',
            password: '',
            repeat_password: '',
            status: ''
        },
        created() {
        },
        methods: {
            register() {
                    let self = this;
                    axios.post('/passenger-login-register/userRegister', {
                        username: self.username,
                        password: self.password
                    }).then(function (response) {
                        console.log(response);
                        if (response.code === 200) {
                            window.location.href = '/';
                        } else if (response.code === 300){
                            self.status = '用户名已经被使用'
                        }
                    });
                // }
            }
        }
    })
</script>

</body>
</html>

